{% extends "base.html.twig" %}
    {% block titre %}
        Ma bibliothèque virtuelle
    {% endblock titre%}
    {% block contenu %}
        <div class="p_accueil">
            <h2>Bienvenue dans ma bibliothèque virtuelle ! Ici, chaque livre a une histoire, chaque auteur une voix, et chaque avis est une page à part entière. Ajoutez, modifiez, supprimez, et partagez vos impressions sur les livres que vous aimez. Cette bibliothèque est le fruit de mon apprentissage du développement web, un projet où le CRUD prend tout son sens !</h2>
        </div>
    {% endblock contenu%}