.p_bgColorBlue {
   color: #cd8d0e;
}
.p_bgColorNav {
    background-color: #cf9f85 ;
}
h1,h2,h3,h4,h5,h6 {
    font-size: 50px;
}

body {
    background-color: #EAE8E1  ;
}

.validerBtn {
    margin: 10px 0;
    background-color: rgb(94, 94, 233);
}
#modifierImgBtn {
    margin-top: 10px;
}

#image {
    margin-top: 10px;
}

input {
    display: block;
}

.checkbox {
    margin-top: 10px;
}

.p_accueil {
    border: solid 2px black;
    border-radius: 6px;
    background-color:#e1c0ae;
    padding: 15px;
    font-size: 30px;
}
.p_avis {
    border: solid 2px black;
    border-radius: 6px;
    background-color:#dcdfbf;
    padding: 15px;
    font-size: 30px;
}
a {
    text-decoration: none;
}
@media (max-width: 767px) {
    .avis {
        display: inline;
    }
}
